body {
  margin: 0;
  padding: 0;
  background-image: url('mutual_fund_login_page.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.login-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
  background-color: rgba(255, 255, 255, 0.2);
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #000000;
  text-align: center;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container form div {
  margin-bottom: 15px;

}

.login-container form label {
  font-size: 20px;
  color: #000000;
  margin: 20px;
  justify-content: space-around;
}

/* .login-container form input {

  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
} */

/* .login-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 300px;
} */

.login-container form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: auto;
  box-sizing: border-box;
}


.login-container form button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: solid #007bff;
  border-radius: 20px;
  cursor: pointer;
  width: 80px;
  margin-left: 19%;
  text-align: center;
  display: inline-block;
}


.login-container form button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-weight: 200;
  font-size: 25px;
}

.success-message {
  color: rgb(133, 228, 133);
  font-weight: 200;
  font-size: 25px;
}


.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

}

.home-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: rgb(2, 11, 139);
}

.home-container p {
  font-size: 18px;
  color: rgb(144, 144, 227);
}


.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(124, 145, 9);
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #000000;
  /* Darker Red */
}

.signup-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
  background-color: rgba(255, 255, 255, 0.2);
}

.signup-container h2 {
  /* text-align: center; */
  margin-bottom: 20px;
  font-size: 30px;
  color: #000000;
  text-align: center;

}


.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container form div {
  margin-bottom: 15px;

}

/* .signup-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #000000;
} */

.signup-container form label {

  font-size: 20px;
  color: #000000;
  margin: 20px;
  justify-content: space-between;
}




.signup-container form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.signup-form button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: solid #007bff;
  border-radius: 20px;
  cursor: pointer;
  width: 80px;
  margin-left: 19%;
  text-align: center;
  display: inline-block;
}

.signup-container form button:hover {
  background-color: #0056b3;
}