body {
  margin: 0;
  padding: 0;
  background-image: url('../public/mutual_funds_img2.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.login-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
  background-color: rgba(255, 255, 255, 0.2);
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #000000;
  text-align: center;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container form div {
  margin-bottom: 15px;

}

.login-container form label {
  font-size: 20px;
  color: #000000;
  margin: 20px;
  justify-content: space-around;
}

/* .login-container form input {

  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
} */

/* .login-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 300px;
} */

.login-container form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
  box-sizing: border-box;
}


.login-container form button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: solid #007bff;
  border-radius: 20px;
  cursor: pointer;
  width: 80px;
  margin-left: 19%;
  text-align: center;
  display: inline-block;
}


.login-container form button:hover {
  background-color: #0056b3;
}



.error-message {
  color: red;
  font-weight: 600; 
  font-size: 24px;
  position: absolute; 
  top: 100%;
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap; 
}

.success-message {
  color: rgb(133, 228, 133);
  font-weight: 600; 
  font-size: 24px;
  position: absolute; 
  top: 100%;
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap; 
}


.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

}

.home-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: rgb(2, 11, 139);
}

.home-container p {
  font-size: 18px;
  color: rgb(144, 144, 227);
}


.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(124, 145, 9);
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.signup-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
  background-color: rgba(255, 255, 255, 0.2);
}

.signup-container h2 {
  /* text-align: center; */
  margin-bottom: 20px;
  font-size: 30px;
  color: #000000;
  text-align: center;

}


.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container form div {
  margin-bottom: 15px;

}



.signup-container form label {

  font-size: 20px;
  color: #000000;
  margin: 20px;
  justify-content: space-between;
}




.signup-container form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
  box-sizing: border-box;
}

.signup-form button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: solid #007bff;
  border-radius: 20px;
  cursor: pointer;
  width: 80px;
  margin-left: 19%;
  text-align: center;
  display: inline-block;
}

.signup-container form button:hover {
  background-color: #0056b3;
}

.dashboard-container {
  max-width: 1200px;
  background-color: #c3cbd4;
  opacity: 0.9;
    padding: 2px;
}

.dashboard-controls {
  margin-bottom: 10px;
 
}

.dashboard-controls label {
  
  font-weight: bold;
  margin-right: 10px;
}

.dashboard-controls select {
  padding: 2px;
}

.table-container {
  background-color: white;
  border-radius: 5px;
  padding: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table { 
  width: 100%;
  border-collapse: collapse;
  margin-top: 2px;
}

th, td {
  padding: 2px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
 
  background-color: #d4d8dc;
  font-weight: bold;
  color: #333;
}

tr:hover {
  background-color: #f1f1f1;
}

.logout-button {
  margin-top: 5px;
  padding: 2px 4px;
  font-size: 4px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.logout-button:hover {
 transform: scale(0.8);
}

